{% extends "::base.html.twig" %}

{% block title %}SHLMLAdminBundle:Admin:newDocument{% endblock %}

{% block body %}
<h1>Welcome to the Admin:newDocument page</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
