{% extends 'SHLMLCoreBundle:SearchDocument:base.html.twig' %}

    {% block javascripts %}
        <script src="http://localhost/BiblioSHLML/web/jquery-1.7.2.min.js"></script>
        <script src="http://localhost/BiblioSHLML/web/lib/WebViewer.min.js"></script>

        <script language="javascript">

            var searchedWord = '{{ searchedWord }}' ;
            var chosenDoc ='{{ chosenDoc }}';
            var documentList = {{ documentList|json_encode|raw }};
            var wordList = {{ wordList|json_encode|raw }};
            var path = "http://localhost/BiblioSHLML/web/pdf/";
            var i=documentList.indexOf(chosenDoc);
            var j=wordList.indexOf(searchedWord);
            var viewerElement;
            var myWebViewer;

            $(function() {

                document.getElementById('#searchedWord').value=searchedWord;
                viewerElement = document.getElementById('viewer');
                myWebViewer = new PDFTron.WebViewer({
                    path: "http://localhost/BiblioSHLML/web/lib",
                    initialDoc: path + documentList[i],
                    custom: searchedWord,
                    showToolbarControl: false,
                    enableReadOnlyMode: true
                }, viewerElement);

                $(viewerElement).on("toolModeChanged", function(event) {
                    myWebViewer.setToolMode(PDFTron.WebViewer.ToolMode.Pan);
                });
                

            });
        </script>

        <script language="javascript">
            function changeDoc(form) {
                if (chosenDoc != documentList[form.SelectDoc.selectedIndex]){
                    document.getElementById('#form').submit();
                }
            }

            function changeWord(form) {
                if (chosenDoc!= wordList[form.SelectWord.selectedIndex]){
                    document.getElementById('#searchedWord').value=wordList[form.SelectWord.selectedIndex];
                    document.getElementById('#form').submit();
                }
            }
        </script>
    {% endblock %}

    {% block main %}
        <div>

            <form id="#form" method="POST" action="single_search">
                <label> Texte Recherché </label>
                <input name="searchedWord" id="#searchedWord"/>
                <input id="#searchButton" type="submit" value="Valider"> </input>
                <p></p>

                Choisir un document contenant ce mot dans la liste déroulante:
                <select style="width: 200px" name='SelectDoc' id='SelectDoc' onChange='changeDoc(this.form)'>
                    <script language="javascript">
                        for(var k=0; k<documentList.length; k++){
                            if(k==i) {
                                document.write("<option selected>" + documentList[k] + "</option>");
                            } else {
                                document.write("<option>" + documentList[k] + "</option>");
                            }
                        }
                    </script>
                </select>
                <p></p>
                Choisir un mot similaire dans la liste déroulante :
                <select style="width: 200px" name='SelectWord' id='SelectWord' onChange='changeWord(this.form)'>
                    <script language="javascript">
                        for(var k=0; k<wordList.length; k++){
                            if(k==j){
                                document.write("<option selected>" + wordList[k] + "</option>");
                            } else {
                                document.write("<option>" + wordList[k] + "</option>");
                            }
                        }
                        // document.write("<input type='hidden' id='#searchText' name='fullSearch' value='" + wordList[this.SelectWord.selectedIndex] + "'/>" );
                    </script>
                </select>
            </form>
        </div>
        <a href="http://localhost/BiblioSHLML/web/app_dev.php/index"> Revenir à la page d'accueil </a>
        <div id="viewer" style="height: 700px;"/>

    {% endblock %}

